In [12]:
tup = (1,2,3,4,5)
for t in tup:print(t)

1
2
3
4
5

In [14]:
list2=[(1,2),(6,8),(10,12)]

In [15]:
for tup in list2:
    print(tup)

(1, 2)
(6, 8)
(10, 12)

In [16]:
for (t1,t2) in list2:
    print(t1)

1
6
10

In [1]:
t= (1,2,3)

In [2]:
len(t)

3

In [4]:
t=('one',2)

In [5]:
t[-1]

2

In [6]:
t.index('one')

0

In [7]:
t.count('one')

1

In [8]:
t

('one', 2)

In [11]:
#tuples are immutable
#it ensures value will not change data integrity
t[0]='change'

TypeError: 'tuple' object does not support item assignment

In [10]:
t.append('test')

AttributeError: 'tuple' object has no attribute 'append'